body{
    font-family: sans-serif, arial, tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bg{
    height: 700px;
    width: 1420px;
    background-image: url(../imagens/bg-medio.jpg);
    background-position: bottom;
    background-size: cover;
}
  /*nav info*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

nav ul li a:hover{
    color: white;
    background-color: #f43c3c;
    transition: 0.5s;
}

.logo{
    margin-left: 20px;
}

 /*Banner info*/

.banner-text{
    margin: 90px 600px 0px 50px;
}
.banner-text h1{
    font-size: 50px;
    text-align: left;
}

.banner-text p{
    margin-bottom: 50px;
    font-size: 20px;
}

.button-default{
    background-color: #f43c3c;
    padding: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
 
  /*Main content info*/

.main-content{
    height: 570px;
    background-color: rgb(252, 250, 250);
    display: inline-block;
}
.main-content-text{
    text-align: center;
    margin-top: 70px;
}

.main-content-text h2{
    font-size: 30px;
}

.main-content-text p{
    font-size: 20px;
    margin: 0 250px 70px 250px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 16px;
}

.cards{
    width: 300px;
    text-align: center;
}

.cards i{
    font-size: 30px;
    background-color: #f43c3c;
    padding: 10px;
    border-radius: 50%;
}

.main-container{
    display: flex;
    background-color: rgb(231, 237, 238);
    height: 500px;
    width: 1420px;
    padding-top: 20px;
}

.main-cards{
    width: 50%;
}

.card-img{
    padding: 50px 0px 50px 140px;
}

.women-img{
    width: 550px;  
    border-radius: 5px; 
}

.card-text{
    margin: 50px 140px 50px 0px;
    height: 368px;
}

.card-text h2{
    font-size: 28px;
}

.card-text a{
    display: inline-block;
}

 /*Main content second info*/

.main-container-second{
    display: flex;
    background-color: rgb(231, 237, 238);
    height: 500px;
    width: 1420px
}

.main-cards-second{
    width: 710px;
}

.card-text-second{
    height: 368px;
    margin: 40px 10px 0px 140px;
}

.card-img-second{
    padding: 40px 140px 0% 10px;
}

.card-text-second h2{
    font-size: 28px;
}

.card-text-second a{
    display: inline-block;
}


/*Contact Info*/

.contact-info{
    text-align: center;
    height: 400px;
    width: 1420px;
}

.info-box div{
    display: inline-flex;
    align-items: center;
    margin-top: 120px;
}

.info-box div span{
    margin: 0 20px;
    background-color: #f43c3c;
    padding: 30px;
    border-radius: 50%;
    font-size: 25px;
}

.info-box div p{
    font-size: 20px;
    font-weight: 700;
}

/*Footer info*/

footer{
    background-color: #f43c3c;
    height: 250px;
    width: 1420px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}


.footer-container ul{
    margin: 0 120px;
    margin-top: 45px;
    list-style: none;
}

.footer-container a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}





























